@font-face {
    font-family: 'Mate SC';
    src: url('MateSC-Regular.woff2') format('woff2'),
    url('MateSC-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    }