{% extends "skeleton.html" %}
{% load static %}

{% block title %}<title>MonteRanco.com - Bienvenidos</title>{% endblock %}
{% block content %}

<main id="page" class="container" role="main">
    <article class="sections" data-page-sections="61539cdaa7b75823a1b4bf39" id="sections">
      <section data-test="page-section" data-section-theme="bright" class="page-section layout-engine-section background-width--full-bleed section-height--large content-width--narrow horizontal-alignment--right vertical-alignment--bottom has-background bright" data-section-id="6161edace14d1633d0aecdca" data-controller="SectionWrapperController" data-current-styles="{}" data-animation="none" style="padding-top: 88.3594px;" data-controllers-bound="SectionWrapperController" data-active="true">
        <div class="section-background">
          <img alt="" data-src="{% static 'img/slide/monteranco-futrono.jpg' %}" data-image="{% static 'img/slide/monteranco-futrono.jpg' %}" data-image-dimensions="6000x3376" data-image-focal-point="0.5,0.5" data-load="false" srcset="{% static 'img/slide/monteranco-futrono.jpg' %}?format=100w 100w,{% static 'img/slide/monteranco-futrono.jpg' %}?format=300w 300w,{% static 'img/slide/monteranco-futrono.jpg' %}?format=500w 500w,{% static 'img/slide/monteranco-futrono.jpg' %}?format=750w 750w,{% static 'img/slide/monteranco-futrono.jpg' %}?format=1000w 1000w,{% static 'img/slide/monteranco-futrono.jpg' %}?format=1500w 1500w,{% static 'img/slide/monteranco-futrono.jpg' %}?format=2500w 2500w" sizes="(max-width: 799px) 200vw, 100vw" onload="positionImage(this); this.classList.add(&#39;loaded&#39;);" loading="lazy" class="loaded" style="object-position: 50% 50%; width: 100%; height: 100%; object-fit: cover;" data-parent-ratio="0.5" data-image-resolution="1500w">
          <div class="section-background-overlay" style="opacity: 0;"></div>
        </div>
        <div class="content-wrapper" >
          <div class="content">
            <div class="sqs-layout sqs-grid-12 columns-12" data-type="page-section" id="page-section-6161edace14d1633d0aecdca">
              <div class="row sqs-row">
                <div class="col sqs-col-12 span-12">
                  <div class="sqs-block spacer-block sqs-block-spacer" data-aspect-ratio="16.166666666666668" data-block-type="21" id="block-yui_3_17_2_1_1633807756782_3906">
                  </div>
                  <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-0e41383bfc7047aa4c81">
                    <div class="sqs-block-content">
                      <h2 style="text-align:center;white-space:pre-wrap;">En el fin del mundo, al borde del lago, se encuentra la instalación de grabación más impresionante de Chile/</h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </article>
  </main>
{% endblock %}
