{% load static %}
<!DOCTYPE html>
<html lang="es">


<script async src="https://www.googletagmanager.com/gtag/js?id=G-7VQY9J7TWQ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-7VQY9J7TWQ');
</script>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover, shrink-to-fit=no">
    <meta name="description" content="MonteRanco - Estudio de Grabación - Futrono" />
    <meta name="keywords" content="MonteRanco - Estudio de Grabación - Futrono" />
    <meta name="author" content="Paul Pineda"/>
    <title>MonteRanco - Estudio de Grabación - Futrono"</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles2.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'fonts/font.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}" rel="stylesheet">
</head>

<body>
    <div class="container container-wrap">
        <div class="row">
            <div class="col-12">
                <img class="logo-monteranco reveal" src={% static 'img/logo/logo-monteranco.svg' %}>
            </div>
        </div>
        <div class="row">

            <div class="col-12">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item reveal"  src="//www.youtube.com/embed/twLCfQlSlrM"></iframe>
                </div>
            </div>

            <div class="col-12">
                <img class="logo-union reveal" src={% static 'img/logo/logo-lizana.png' %}>
                <div class="box-unete reveal">
                    <a target="_blank" href="https://www.facebook.com/M.Angel.LF/" class=" animated fadeIn slow ico-social"><i class="reveal fa fa-facebook-f"></i></a>
                    <a target="_blank" href="https://www.youtube.com/c/MiguelLizana" class=" animated fadeIn slow  ico-social"><i class=" reveal fa fa-youtube-play"></i></a>
                    <a target="_blank" href="https://www.instagram.com/miguellizana.cl/" class=" animated fadeIn slow  ico-social"><i class="reveal fa fa-instagram"></i></a>

                <!--
                    <a target="_blank" href="" class=" animated fadeIn slow  ico-social"><i class="reveal fa fa-spotify"></i></a>
                    <a target="_blank" href="" class="animated fadeIn slower  ico-social"><i class="reveal fa fa-soundcloud"></i></a>
                    <a target="_blank" href="" class="animated fadeIn slow  ico-social"><i class=" reveal fa fa-twitter"></i></a>
                -->

                </div>
            </div>

        </div>
        <hr>
        <div class="row">
            <div class="col-12">
                <img class="logo-monteranco-dos reveal" src={% static 'img/logo/logo-monteranco.svg' %}>
                <div class="box-unete-dos reveal">
                    <a target="_blank" href="https://www.youtube.com/channel/UCcvsTKsfFkvFb949QzrU1zQ" class=" animated fadeIn slow  ico-social-dos"><i class=" reveal fa fa-youtube-play"></i></a>
                    <a target="_blank" href="https://www.instagram.com/monteranco_" class=" animated fadeIn slow  ico-social-dos"><i class="reveal fa fa-instagram"></i></a>
                    <a target="_blank" href="https://www.facebook.com/monteranco" class=" animated fadeIn slow ico-social-dos"><i class="reveal fa fa-facebook-f"></i></a>
                    <a target="_blank" href="https://vimeo.com/monteranco" class="animated fadeIn slow  ico-social-dos"><i class=" reveal fa fa-vimeo"></i></a>
                    <a target="_blank" href="https://soundcloud.com/monteranco" class="animated fadeIn slower  ico-social-dos"><i class="reveal fa fa-soundcloud"></i></a>
                    <a target="_blank" href="https://open.spotify.com/show/5YawREk2jIHfMY0jtlgysS?si=d814b671c33940ad" class=" animated fadeIn slow  ico-social-dos"><i class="reveal fa fa-spotify"></i></a>

                </div>
            </div>
        </div>

        
        
    </div>


</body>

<!--
        <div class="row">
            <div class="col-12">
                <img class="logo-monteranco reveal" src={% static 'img/logo/logo-monteranco.svg' %}>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item reveal "  src="//www.youtube.com/embed/ltzpo6w_P8g"></iframe>
                </div>
            </div>
            <div class="col-12">
                <img class="logo-malicia reveal" src={% static 'img/logo/logo-malicia.svg' %}>
                <div class="box-unete reveal">
                    <a target="_blank" href="https://www.youtube.com/channel/UCy-SE4JGTjtnHuKtLwci0Hw" class=" animated fadeIn slow  ico-social"><i class=" reveal fa fa-youtube-play"></i></a>
                    <a target="_blank" href="https://open.spotify.com/artist/6bHuSWM7vKU58jG4vtqykU?si=dh0acPacTC2FicJZVYBJUQ" class=" animated fadeIn slow  ico-social"><i class="reveal fa fa-spotify"></i></a>
                    <a target="_blank" href="https://www.instagram.com/malicia_banda" class=" animated fadeIn slow  ico-social"><i class="reveal fa fa-instagram"></i></a>
                    <a target="_blank" href="https://www.facebook.com/maIicia" class=" animated fadeIn slow ico-social"><i class="reveal fa fa-facebook-f"></i></a>
                    <a target="_blank" href="https://soundcloud.com/maliciamalicia" class="animated fadeIn slower  ico-social"><i class="reveal fa fa-soundcloud"></i></a>
                    <a target="_blank" href="https://twitter.com/maliciabanda" class="animated fadeIn slow  ico-social"><i class=" reveal fa fa-twitter"></i></a>
                </div>
            </div>
        </div>
-->


<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'js/scrollreveal.min.js' %}"></script>
<script>
    ScrollReveal().reveal('.reveal', { interval: 80 });
</script>
</html>


